<h2 xmlns="http://www.w3.org/1999/html">My Heroes</h2>

<div>
  <div>
    <label>Hero name:
      <input id="hero-input-string" #heroName/>
    </label>
  </div>
  <div>
    <label>Favorite:
      <input #heroFavorite name="favorite" value="true" type="radio"/>
      <label>yes</label>
      <input name="favorite" value="false" type="radio"/>
      <label>no</label>
    </label>
  </div>
  <!-- (click) passes input value to add() and then clears the input -->
  <button id="add-hero-button" (click)="add(heroName.value); heroName.value=''">
    add
  </button>
</div>

<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <a class="hero-name-text" routerLink="/detail/{{hero.id}}">
      <span>{{hero.id}}</span>
      {{hero.name}}
    </a>
    <button class="delete" title="delete hero"
            (click)="delete(hero)">x
    </button>
  </li>
</ul>
